<!--
 * @Descripttion: 
 * @version: 
 * @Author: leihao
 * @Date: 2021-01-21 14:36:48
 * @LastEditors: leihao
 * @LastEditTime: 2021-01-21 15:36:18
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/pub/css/base.css">
  <!--引入静态css文件-->
</head>

<body>
  <h2>我是ejs模板引擎<h2>
      <%-title%>
</body>

</html>